<main role="main" class="my-auto">
    <section class="jumbotron text-center mb-5">
      <div class="container">
        <h1 class="display-3">CTIC Sistema de gestión</h1>
        <p class="lead">Descubre el mundo con nuestra plataforma de gestión de productos.</p>
        <a (click)="toAdministration()" class="btn btn-primary btn-lg">Ingresa</a>
      </div>
    </section>
  
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5">
          <h2>¿Qué ofrecemos?</h2>
          <p>En CTIC Control de inventarios, te ofrecemos la posibilidad de manejar tus objetos de la mejor manera</p>
        </div>
        <div class="col-md-4 mb-5">
          <h2>diferentes roles</h2>
          <p>Podras manejar diferentes roles y otorgarle los permisos que desees</p>
        </div>
        <div class="col-md-4 mb-5">
          <h2>Obten productos</h2>
          <p>Con nuestro sistema puedes agregar productos al sistema de forma sencilla de acuerdo a las compras con proveedores</p>
        </div>
      </div>
    </div>
  </main>
  
  <footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
      <span>© 2024 CTIC Control de inventario</span>
    </div>
  </footer>
  